# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# Конфиденциальные данные
config/sa-key.json
config/telegram.json
profiles/*.json
data/*.db
logs/*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
*.tar
*.tar.gz

# OS
.DS_Store
Thumbs.db

# Временные файлы
*.tmp
*.bak
*.backup
